.container {
  width: 80vw;
  border-radius: 10px;
  height: 80px;
  background-color: #181515;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text {
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
}
