.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}
.image{
  min-height: 100vh;
  min-width: 100vw;
  background-image: url('../public/me.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 2s;
}
.NameTitle{
font-size:2dvb;
text-align: center;
color:white;
margin-top: 80vh;
}
.container{
  background-color: #D2D2D2;
  width: 100vw;
  min-height: 50vh;
  height: auto;
  border-radius: 10px 10px 0 0;
  display: flex;
  align-items: center;
  padding-top: 20px;
  flex-direction: column;
  gap:20px;
}