.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}
.image {
  min-height: 100vh;
  min-width: 100vw;
  background-image: url("../public/me.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 2s;
  flex-direction: column;
}
.NameTitle,
.NameTitleTop {
  font-size: 2dvb;
  text-align: center;
  color: white;
  margin-top: 10px;
}
.NameTitleTop {
  margin-top: 80vh;
}
.container {
  background-color: #d2d2d2;
  width: 100vw;
  min-height: 50vh;
  height: auto;
  border-radius: 10px 10px 0 0;
  display: flex;
  align-items: center;
  padding-top: 20px;
  flex-direction: column;
  gap: 20px;
}
.pcview {
  display: none;
}
@media (min-width: 700px) {
  .image,
  .container {
    display: none;
  }
  .pcview {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .pcViewText {
    color: white;
  }
  .SiteLink {
    color: white;
    text-decoration: underline;
    font-size: 60px;
    font-weight: 700;
    padding-top: 10vh;
  }
  .main {
    width: 100vw;
    height: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: black;
  }
}
